body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  background-color: rgb(233, 111, 156);
  color: white;
  overflow: hidden;
}

h1 {
  font-size: 80px;
  margin-bottom: 10px; /* Adjust the margin as needed */
  font-family: Arial, Helvetica, sans-serif;
}

#heading {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1px;
  margin-left: 900px;
  margin-bottom: 2px;
}

#timerDisplay,
#scoreDisplay {
  margin-right: 15px; /* Adjust the margin as needed */
}

#imageContainer {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}


#galleryImage {
  width: 210px;
  height: 240px;
  cursor: pointer;
}


.imgbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button, .imageButton {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-sizing: border-box;
  color: #643119;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.6px;
  font-weight: bold;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  width: 90px;
  height: 40px;
  text-decoration: none;
  margin-left: 5px;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.imageButton:hover {
  background-color: #f7fafa;
}

.imageButton:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

#dirButtons {
  display: flex;
  align-items: center;
  margin-right: 1250px;
}

#nextRoundButton,
#prevRoundButton {
  color: white;
  border: none;
  margin-bottom: 10px;
  background-color: rgb(233, 111, 156);

}

#prevRoundButton img,
#nextRoundButton img {
  width: 45px; /* Adjust the width as needed */
  height: 45px; /* Adjust the height as needed */
}

#skzright {
  width: 750px;
  margin-left: 450px;
  margin-top: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Ensure it appears above other elements */
  opacity: 1; /* Adjust the opacity as needed */
  pointer-events: none;
}

#skzleft {
  width: 750px;
  margin-left: -350px;
  margin-top: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Ensure it appears above other elements */
  opacity: 1; /* Adjust the opacity as needed */
  pointer-events: none;
}
