body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  #imageContainer {
    position: relative;
  }
  
  #galleryImage {
    width: 300px;
    height: 310px;
    cursor: pointer;
  }
  